<form method="post" asp-controller="Task" asp-action="AddNewTest">
    <label>Назва тесту: </label>
    <input type="text" name="name" />
    <label>Опис тесту: </label>
    <input type="text" name="description" />
    <input type="submit" value="Створити" />

</form>