@*@model List<Курсова.Models.ModelsTask.Task>

<div>

    <form>
        @for (int i = 0; i < Model.Count; i++)
            {

                switch(Model[i].type)
                {
                    case "Complince":

                        break;

                    case "MultipleOption":

                        break;
                    case "OpenQuestion":

                        break;
                    case "Suquence":

                        break;
                    case "Test":

                        break;
                }

            }
    </form>
</div>*@